<section>
    <h2 class='title-home'>Welcome to the world of Tennis</h2>
    <a class='ball' id='balll' href='/categories'>Click in the ball to navigate</a>
    <div>
      <% if user_signed_in? %>
        <a href='/categories'><img class='img-home' src='https://img.freepik.com/vector-premium/pelota-tenis-toque-acuarela-boceto-dibujado-mano-ilustracion-pinturas_291138-204.jpg?w=2000'></a>
    <% else %>
        <div class='container-login-signup'>
          <div class='main-login-log'><a class='login-sign-log' href='/users/sign_in'>Log in</a></div>
          <div class='main-login'><a class='login-sign' href='/users/sign_up'>Sign up</a></div>
        </div>
      <%end%>
    </div>
</section>
