<section>
    <h2>Welcome to the world of Tennis</h2>
    <h3>Please select a option in Menu</h3>
    <div>
      <% if user_signed_in? %>
        <a href='/categories'>Start to navigate for our website!!!</a>
    <% else %>
        <a href='/users/sign_in'>Log in</a>
        <a href='/users/sign_up'>Sign up</a>
      <%end%>
    </div>
</section>
