<section>
    <h2 class='title-home'>Welcome to the world of Tennis</h2>
    <div>
      <% if user_signed_in? %>
        <a href='/categories'>Start to navigate for our website!!! (click here)</a>
    <% else %>
        <div class='container-login-signup'>
          <div class='main-login-log'><a class='login-sign-log' href='/users/sign_in'>Log in</a></div>
          <div class='main-login'><a class='login-sign' href='/users/sign_up'>Sign up</a></div>
        </div>
      <%end%>
    </div>
</section>
