<p style="color: green"><%= notice %></p>

<h1 class='title-categories'>Payments</h1>
<div class='new-payment'><%= link_to "New payment", new_payment_path %></div>

<div id="payments">
  <% @payments.each do |payment| %>
    <%= render payment %>
    <p>
      <%= link_to "Show this payment", payment %>
    </p>
  <% end %>
</div>
