<h1 class='title-edit'>New payment</h1>

<div class='render-edit'><%= render "form", payment: @payment %></div>

<br>

<div class='container-show-back'>
  <%= link_to "Back to payments", payments_path %>
</div>
