a {
  text-decoration: none;
  color: lemonchiffon;
  width: 30%;
  margin-left: 35px;
}

a:hover {
  text-decoration: none;
  background-color: rgb(227, 245, 209);
  color: rgb(105, 100, 255);
}

.container-navbar {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 88);
}

.nav {
  margin-left: 40%;
  margin-top: 1.7%;
}

.tennis-shop {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 15px;
}
