a {
  text-decoration: none;
  color: rgb(192, 187, 139);
  width: 30%;
  margin-left: 35px;
}

a:hover {
  text-decoration: none;
  background-color: rgb(227, 245, 209);
  color: rgb(105, 100, 255);
}

.container-navbar {
  display: flex;
  flex-direction: row;
  background-color: #3778c2;
}

.nav {
  margin-left: 40%;
  margin-top: 1.7%;
}

.tennis-shop {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 15px;
}

.login-sign {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.container-login-signup {
  display: flex;
  flex-direction: column;
}

.main-login {
  border: 2px solid black;
  width: 50%;
  margin-top: 5%;
  text-align: center;
  margin-left: 20%;
  border-radius: 6px;
}

.logout-button {
  margin-left: 150%;
  margin-top: -20px;
  width: 40%;
}

#categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 40%;
  background-color: aliceblue;
}

.title-categories {
  color: #3778c2;
}

.new-category {
  color: #3778c2;
  margin-left: 40%;
}
