a {
  text-decoration: none;
}

.login-sign {
  color: rgb(128, 128, 128);
  font-size: 20px;
  text-align: center;
}

.login-sign-log {
  font-size: 20px;
  text-align: center;
  color: #f1f2f3;
}

.main-login-log {
  background-color: #3778c2;
  border: 2px solid #3778c2;
  width: 80%;
  margin-top: 5%;
  text-align: center;
  margin-left: 12%;
  border-radius: 8px;
}

.container-login-signup {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}

.main-login {
  border: 2px solid rgb(255, 255, 255);
  width: 50%;
  margin-top: 5%;
  text-align: center;
  margin-left: 27%;
  border-radius: 2px;
  color: darkslategray;
}

.button-app {
  margin-left: 25%;
}

.budget {
  margin-left: 32%;
  color: darkslategray;
}

.img-home {
  width: 75%;
  margin-left: 14%;
  margin-top: 15%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
