<p style="color: green"><%= notice %></p>

<h1 class='title-categories'>Categories</h1>
<h3 class='new-category'><%= link_to "New category", new_category_path %></h3>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
  <p class='details-category'>
    <%= link_to "Show this category", category %>
  </p>
  <% end %>
</div>

