<h1 class='title-edit'>New category</h1>

<div class='render-edit'><%= render "form", category: @category %></div>

<br>

<div class='container-show-back'>
  <%= link_to "Back to categories", categories_path %>
</div>
