
<div class='navbar'>
        <a class='btn btn-secondary' class='link-catego' href='/categories'>Categories</a>
        <a class='btn btn-secondary' href='/payments'>Payments</a>
        <%= button_to 'Log out', destroy_user_session_path, class: 'btn btn-primary', method: :delete %>
      </div>
<h1>New category</h1>

<div><%= render "form", category: @category %></div>

<br>

<div class='container-show-back'>
  <%= link_to "Back to categories", categories_path %>
</div>
